@mixin line-clamp($line, $height) {
  display: -webkit-box;
  height: $height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;

  /* autoprefixer: off */
  -webkit-box-orient: vertical;

  /* autoprefixer: on */
}
