// ===
// Z Index
// ===
$z-index-dialog: 2001;
$z-index-el-scrollbar: 2000;
$z-index-nprogress: 2000;
$z-index-header: 2000;
$z-index-fbchat: 2000;
$z-index-sub-header: 1999;
$z-index-gototop: 1999;
$z-index-fbchat-iframs: 1999;
$z-index-fixed-top-form: 1999;
$z-index-bottom-btn: 1999;
$z-index-social-line: 1999;
$z-index-reservation-tool: 1999;
$z-index-el-loading-mask: 1999;
